h2 {
  color: #ffcc00;
  text-align: center;
}

p {
  margin-left: 1%;
  margin-right: 1%;
  color: #ffffff;
}

body {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/71Ya0Sh1KFL._SX425_.jpg);
}
